<!-- Button trigger modal -->
<script type="text/javascript">
function beszur(id)
{
//alert(id)	;
$('#img').attr('src',id);
$('#kep').val(id);
}

</script>
<style>
h2{
color:white;
padding:20px;
}
.err_div{
color:red;
font-size:18px;
padding:10px;
}
</style>
 <center><h2 lt="lapcim"></h2></center>
 <div class="row"><div class="col-sm-8 col-sm-offset-2" >
 <div class="err_div" lt="err" ></div>
<div class="alert_div"lt="alert" ></div>
<div class="info_div"  lt="info" ></div>
</div> </div> 
 
<form    method="post"  >
<div class="row">
    <div class="col-sm-4 ">
	    <div class="col-sm-6 col-sm-offset-6" >
	  	  <img id="img" src="res/ico/noimage.jpg" dat="src|kep" width="200" height="205"></img>
	    </div>
    </div>
    
     <div class="col-sm-7 ">
   		 <div class="form-group col-sm-8">
   		 	<div style="padding:0;" class="col-sm-9">
    		<input type="text" id="kep" dat="value|kep" name="kep" class="form-control" required="required" placeholder="Kép elérési útja. lehet link is">
   			</div>
   			 <div class="col-sm-3">
    		<a id="kepcsere" onclick="link_betolt('&dir='+start_dir,'modalbase');" class="btn btn-primary mmm"  data-toggle="modal" data-target="#myModal">
 			 Képcsere
			</a>
    		</div>	
   		 </div>
   		 
    	 <div class="form-group col-sm-8 ">
    		<input type="text" id="nev" dat="value|nev"  name="nev" class="form-control" required="required" placeholder="Név">
   		 </div>
   		  <div class="form-group col-sm-8">
    		<textarea class="form-control" rows="4" dat="inner|intro" name="intro" placeholder="Rövid leírás">Rövid leírás</textarea>
   		 </div>
    </div>
    
   
   
<!--<button id="kepcsere" class="btn btn-primary mmm"   href="index.php?app=modal&mod=media" data-toggle="modal" data-target="#myModal">-->

    </div>
<div class="row">   
      <div  style="padding-right:50px;" class="form-group col-sm-7 col-sm-offset-2" >
	  	 <textarea name="text"  dat="inner|text" title="Ismertető" placeholder="Ismertető" class="form-control" rows="8" >Ismertető</textarea>
	  	 </div>
	  	
	  	 <div   class="form-group col-sm-7 col-sm-offset-3" >
	    <button type="submit" name="task" value="save" lt="save" class="btn btn-primary ">Ment</button>
        <a  href="index.php?app=admin&iniF=omni/fajta"  lt="cancel"  class="btn btn-primary">Mégsem</a>
	    
	    </div>
</div>
</form>
