<div class="listakontener" >
	<div class="ikondiv form-group " >
	
	<input type="checkbox" dat="value|id"  class="listacheck " name="idT[]" value="" />
	 <img class="lista_pubikon"  dat="src|pubikon" src="">
	</div>
	<div class="listathumb" >
	 <a dat="href|link"  href="" >
	 <div	dat="title|intro" 	 data-tg="tooltip" title="" class="btn btn-default" > 
	 <img class="listaimg"  dat="src|kep" src="" >
	 </div>
	
	 <div class="thumbnev"  ><h4 dat="inner|nev" > </h4>></div>
	 </a>
	 </div>
	       
 </div> 